.element {
}

.navbar {
  grid-area: navbar;
}

.sidebar {
  grid-area: sidebar;
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
}

.content {
  grid-area: content;
}

@media screen and (min-width: 768px) {
  .element {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
      "sidebar navbar"
      "sidebar content";
  }

  .sidebar {
    position: sticky;
  }
}
